.row {
    max-width: $grid-width;
    //background-color: aliceblue;
    margin: 0 auto;

    // Qui stiamo dicendo: applica il margin bottom tutti gli elementi apparte l'ultimo
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    //^ Qui staimo dicendo: a tutti gli elementi che hanno una classe che inizia per 'col-' applica questi stili
    [class^="col-"] {
        //background-color: orange;
        float: left;
        
        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - (#{$gutter-horizontal}) * 2 ) / 3);
    }

    .col-2-of-3 {
        width: calc(((100% - (#{$gutter-horizontal}) * 2 ) / 3) * 2 + #{$gutter-horizontal});
    }

    .col-1-of-4 {
        width: calc((100% - (#{$gutter-horizontal}) * 3) / 4);
    }

    .col-2-of-4 {
        width: calc(((100% - (#{$gutter-horizontal}) * 3) / 4) * 2 + #{$gutter-horizontal});
    }

    .col-3-of-4 {
        width: calc(((100% - (#{$gutter-horizontal}) * 3) / 4) * 3 + #{$gutter-horizontal} * 2);
    }
}
